### A7: Visualización de Datos Multivariante

In [ ]:
#pip install seaborn

In [4]:
#pip install statsmodels

In [6]:
#pip install sklearn

In [8]:
#pip install plotly

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import plotly.express as px

In [11]:
%ls

 00_00_binder.ipynb
 00_00_primer_pasos.ipynb
 01_01_data_types.ipynb
 01_02_read_iloc_unique_groupby.ipynb
 02_00_data_wrangling.ipynb
 02_01_null_display.ipynb
 02_02_basic_math.ipynb
 a01570468_pres_interm.ipynb
 A5.ipynb
 adult.csv
 antropometria-dataset-1.csv
 antropometria-dataset-2.csv
 clase1.ipynb
 Clase3.ipynb
 Clase4.ipynb
 Clase5.ipynb
 Clase7.ipynb
 Clase8.2.ipynb
 Clase8.ipynb
 datasets/
'datos multivariante.xlsx'
 Evolucion-poblacion-ocupada-trabajadores-totales.csv
 README.md
 requirements.txt
 Untitled.ipynb

In [13]:
df = pd.read_csv('antropometria-dataset-1.csv')
df.head(2)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101

In [15]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

Histogramas de 'Sistol' y 'Diastol'